.popup-screen {
    z-index: 999999;
    position: fixed;
    background-color: rgba(255, 255, 255, 0);
    backdrop-filter: blur(10px);
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    visibility: hidden;
    transition: 0.5s ease;
    transition-property: visibility;
    
}

.popup-screen.active {
    visibility: visible;
}

.popup-box {
    position: absolute;
    top: 10%;
    background-color: rgba(255, 255, 255, 0);
    backdrop-filter: blur(10px);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 60%;
    transform: scale(0); 
    transition: 0.5s; 
    transition-property: transform;
    
}

.popup-screen.active .popup-box {
    transform: scale(1);
}

#img-popup {
    width: 50%;
    border-radius:10px;
    box-shadow: -1px 2px 20px 5px #0000004d
}

.close-btn {
   position: absolute; 
   font-size: 1.1em;
   font-weight: 900;
   color: #000000;
   top: 0;
   right: 25%;
   margin: 15px;
   cursor: pointer;
   opacity: 0.5;


}

.close-btn:hover {
    opacity: 0.8;
}

header {
    text-align: center;
    background: linear-gradient(180deg, #1e7e34, transparent);
}

.nav-tabs {
    align-items: flex-end;
    margin: auto;
    justify-content: center;
    padding: 0 !important; 
}

li {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
 }

 .nav-tabs .nav-item .nav-link {
    color: #1e7e34;
    background-color: #9cd5a9;
    border-color: #dee2e6 #dee2e6 #fff;
    width: 120px;
    border-radius: 10px;
}

.nav-tabs .nav-item .nav-link:hover{
    color: white;
    font-weight: bold;
}
    
.logoaedesweb {
    text-align: center;
    width: 12%;  
}

#scroll-denuncia{
    display: flex;
}

.scrollDenunciar {
    outline: none;
    border: 0;
    margin-top: 12px;
    display: flex;
    top: 0;
    right: 10%;
    justify-content: center;
    position: absolute;
    z-index: 1000;
    background-color: #7ad89000;
    cursor: pointer;
    opacity: 0.;
    transition: all .4s ease;
}

.scrollDenunciar #img-denuncia {
    
        width: 50%;
        box-shadow: 1px 2px 14px #000;
        border-radius: 100%;
}
 

h1 {
    margin:0 50px;
}

main{
    margin: 10px 50px;
    border: 3px solid rgb(1, 134, 41);
    padding: 10px;
    border-radius: 10px;
}

.container {
    padding-top: 30px;
    text-align: center;
    margin: 0;
}

h2 {
    font-size: 25px;
    text-align: left;
    background: linear-gradient(45deg, #79ad85, transparent);
    padding: 10px;
    border-radius: 8px;
    box-shadow: 0px 1px 0px #00000045;
    text-transform: uppercase;
   
}

hr {
    clear: both;
    border: 0;
    height: 1px;
    background-image: linear-gradient(to right,rgba(0,0,0,0),rgba(0,0,0,.75),rgba(0,0,0,0));;
}

.textoaedes {
    text-align:justify;
    margin: 20px 25px 15px 25px;
    line-height: 23px;
    text-indent: 20px;
}

 ul {
    align-items: flex-end;
    justify-content: center;
    padding: 30px 80px;
    border-radius: 10px;
    background: #93d7a266;
    box-shadow: 1px 1px #00000024;
}

.textoaedes,  li {
    padding: 4px 0;
    
}

#aedes {
    max-width: 100%;
    width: 600px;
    display: block;
    margin: auto;
    border: 1px solid white;
    border-radius: 20px;
}

.img-mosquito {
    max-width: 100%;
    padding: 10px;
    width: 800px;
    height: 300px;
    display: block;
    margin: auto;
    object-fit: fill;
}

.box-foto {
    max-height: 100%;
    height: 200px;
    width: 100%;
    display: block;
}

.carrossel-fotos {
    margin-top: 10px;
}

h3 {
    margin-left: 50px ;
    padding: 10px 0;
    text-align: left;
}

.formulario {
    margin-left:52px ;
    width: 60%;
    margin-bottom: 50px;
}

.scrollTop{
    outline: none;
    border-radius: 50%;
    border: 0;
    background-color: white;
    width: 60px;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    right: 0;
    bottom: 10px;
    z-index: 999;
    background-color: #08bb3763;
    cursor: pointer;
    opacity: 0.1;
    transition:all .4s ease;
}

.scrollTop.active{
    opacity: 0.3;
    visibility: visible;
}

.scrollTop img{
    width: 100%;
    transform: rotate(90deg);
}

.scrollTop:hover{
    text-decoration: none;
}

.owl-carousel .owl-nav button.owl-next, .owl-carousel .owl-nav button.owl-prev, .owl-carousel button.owl-dot{
    font-size: 4em;
    font-weight: bold;
}



footer {
    display: flex;
    color: black;
    background: linear-gradient(0deg, #43754f, transparent);
    justify-content: center;
    align-items: center;
    padding: 10px;
    text-align: center;
    
}

footer p {
    margin-top: 10px;
}

footer a {
    text-decoration: none;
    color:#495057 ; 
}

footer img {
    padding: 10px;
    width: 8%;
}




@keyframes animacaoDenuncia{
    0%{
        transform: scale(1);
    }
    100%{
        transform: scale(1.05);
    }

}
 #img-denuncia{
     animation-name: animacaoDenuncia;
     animation-duration: 1s;
     animation-timing-function: ease-in-out;
     animation-iteration-count: infinite;
     animation-direction: normal;
 }

/*Algumas alterações de responsividade: */

@media (max-width:1200px ) {
    

    .close-btn {
    right: 0%;
    margin: 15px;
    }

    .logoaedesweb {
        width: 30%;
    }

    h3 {
        font-size: 1.5em;
    }

    .scrollTop {
        right: 0;
        bottom: 50px;
    }
    .scrollDenunciar {
        position: absolute;
        top:0px;
    }


    footer img {
        padding: 10px;
        width: 10%;  
    }
}

@media (max-width: 680px) {

    #img-popup {
        width: 100%;
    }

    .nav-tabs {
        justify-content: center;
    }

    .scrollDenunciar #img-denuncia {
        width: 70%;
    }

    main {
        margin: 0;
        padding:2px;
    }    

    .logoaedesweb {
        width: 35%;
    }
    
    h3 {
        margin: 0;
        padding: 10px 0px;
        text-align: center;
    }

    h2 {
        text-align: center;
    }

    ul {
        align-items: flex-start;
        justify-content: start;
        padding-left: 48px;
        border-radius: 10px;
        background: #93d7a266;
    }

  

    footer img {
        padding: 10px;
        width: 15%;
       
    }

    footer p {
       
        margin-bottom: 1rem;
        text-align: center;
    }
}

@media (max-width: 768px) {
    
    #img-popup {
        width: 100%;
    }

    .close-btn {
        right: 0%;
        margin: 8px
    }

    .nav-tabs {
        justify-content: center;
    }

    
    .scrollDenunciar {
        width: 30%;
        right: 5%;
        
    }

    .scrollDenunciar #img-denuncia {
        width: 60%;
    }

    main {
        margin: 0;
        padding:2px;
    }

    .logoaedesweb {
        width: 35%;
    }

    h3 {
        margin: 0;
        padding: 10px 0px;
        text-align: center;
    }

    h2 {
        text-align: center;
        text-size-adjust: inherit;
    }

    ul {
        align-items: flex-start;
        justify-content: start;
        padding-left: 48px;
        border-radius: 10px;
        background: #93d7a266;
    }

    .scrollTop {
        right: 10px;
        bottom: 70px;
    }

    

    footer img {
        padding: 10px;
        width: 20%;
       
    }

    footer p {
        margin-bottom: 1rem;
        text-align: center;
    }
}

/* Pagina sobre-nav */

.tabelaSobre {
    margin: auto;
}

.titulo {
    margin-top: 3%;
    margin-bottom: 5%;
    text-align: center;
}

.btn-link {
    width:100%;
}

/*Página Sobre*/

.tabelaSobre {
    
    margin: auto;
    border: 6px solid #1e7e34;
    border-radius: 10px;
    padding: 1px;
}

.card-header:first-child {
    border-radius: calc(.25rem - 1px) calc(.25rem - 1px) 0 0;
    background: #93d7a298;
}

.btn:not(:disabled):not(.disabled) {
    cursor: pointer;
    color:  #033d20;;
    text-transform: capitalize;
    font-weight: inherit;
    text-decoration: none;
}

.card-body {
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    padding: 1.25rem;
    background: linear-gradient(1deg, #ffffff, #00000000);
}

.card:hover{
    background-color: #43754f;
   
}

.btn:not(:disabled):not(.disabled):hover{
    color: white;
   
}



/*Página Saiba mais*/

.saiba-mais-links {
    padding-left: 15px;
}

.saiba-mais-links:hover {
    -webkit-box-shadow: 0px 10px 13px -7px #000000, 2px 2px 14px 4px rgba(0,0,0,0); 
    box-shadow: 0px 10px 13px -7px #000000, 2px 2px 14px 4px rgba(0,0,0,0);
}

.saiba-mais-ancora {
    color: rgba(0,0,0);
}

.saiba-mais-ancora:hover {
    font-weight: bold;
    color: rgb(3, 68, 23);
}