header {
    text-align: center;
    background: linear-gradient(180deg, #1e7e34, transparent);
}

ul {
    align-items: flex-end;
    justify-content: center;
}

li {
     font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
 }

 .nav-tabs .nav-item .nav-link {
    color: #1e7e34;
    background-color: #9cd5a9;
    border-color: #dee2e6 #dee2e6 #fff;
}

.nav-tabs .nav-item .nav-link:hover{
    color: white;

}
    
.logoaedesweb {
  
    text-align: center;
    width: 12%;  
}
h1 {
    margin:0 50px;
}

main{
    margin: 10px 50px;
    border: 3px solid rgb(1, 134, 41);
    padding: 10px;
    border-radius: 10px;
}

.container {
    padding-top: 30px;
    text-align: center;
    margin: 0;
}

h2 {
    font-size: 25px;
    text-align: left;
    background: linear-gradient(45deg, #79ad85, transparent);
    padding-left: 8px;
    box-shadow: 1px 1px 0px #00000045;
}

hr {
    clear: both;
    border: 0;
    height: 1px;
    background-image: linear-gradient(to right,rgba(0,0,0,0),rgba(0,0,0,.75),rgba(0,0,0,0));;
}

.textoaedes {
    text-align: justify;
    margin: 0 25px 15px 25px;
    line-height: 23px;
    text-indent: 20px;
}

#mosquito-img-container{
    display:flex;
    justify-content: center;
    width: 98%;
   
}

#mosquito-img-container .mosquito{
    margin: 0 10px;
    width:300px;
   
}

.box-foto {
    height: 100%;
    width: 100%;
    display: block;
}

.carrossel-fotos {
    margin-top: 10px;
}

h3 {
    text-align: center;
}

.denuncie {
    color: red;
}

.formulario {
    margin: 25px;
}

footer {
    display: flex;
    color: aliceblue;
    background: linear-gradient(0deg, #1e7e34, transparent);
    justify-content: center;
    align-items: flex-end;
    padding: 10px;
    
}

footer a{
    text-decoration: none;
    color:#495057 ;
    
}

.logoaedeswebfooter {
    padding: 10px;
    width: 6%; 
}


/*Algumas alterações de responsividade: #mosquito-img-container .mosquito */


@media (max-width: 768px){
    #mosquito-img-container .mosquito {
        margin: 0px 16px;
        width: 28%;
        justify-content: center;
    }

    .logoaedesweb{
        width: 30%;
    }

    h3 {
        text-align: center;
        font-size: 1.5em;
    }
}



@media (max-width: 414px){
#mosquito-img-container .mosquito {
    margin: 0px 4px;
    width: 30%;
    justify-content: center;
    
}
    .logoaedesweb{
        width: 35%;
    }

    h3 {
        text-align: center;
        font-size: 1.3em;
        margin: 0px 50px;
    }

    footer p{
    margin-top: 0;
    margin-bottom: 1rem;
    color: #034a03;
    }

    
}